body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:91px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:91px;
}
#u107 {
  position:absolute;
  left:2px;
  top:38px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:25px;
}
#u108 {
  position:absolute;
  left:305px;
  top:29px;
  width:440px;
  height:25px;
}
#u109 {
  position:absolute;
  left:2px;
  top:4px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u110 {
  position:absolute;
  left:639px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u112 {
  position:absolute;
  left:515px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u114 {
  position:absolute;
  left:753px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:305px;
  top:30px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u118 {
  position:absolute;
  left:388px;
  top:30px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:236px;
}
#u120 {
  position:absolute;
  left:0px;
  top:85px;
  width:1095px;
  height:236px;
}
#u121 {
  position:absolute;
  left:2px;
  top:110px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:460px;
}
#u123 {
  position:absolute;
  left:0px;
  top:321px;
  width:1095px;
  height:460px;
}
#u124 {
  position:absolute;
  left:2px;
  top:222px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  position:absolute;
  left:897px;
  top:377px;
  width:78px;
  height:24px;
}
#u126 {
  position:absolute;
  left:2px;
  top:4px;
  width:74px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
}
#u127 {
  position:absolute;
  left:252px;
  top:419px;
  width:147px;
  height:22px;
}
#u128 {
  position:absolute;
  left:2px;
  top:3px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
}
#u129 {
  position:absolute;
  left:252px;
  top:492px;
  width:147px;
  height:22px;
}
#u130 {
  position:absolute;
  left:2px;
  top:3px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
}
#u131 {
  position:absolute;
  left:252px;
  top:566px;
  width:147px;
  height:22px;
}
#u132 {
  position:absolute;
  left:2px;
  top:3px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
}
#u133 {
  position:absolute;
  left:252px;
  top:638px;
  width:147px;
  height:22px;
}
#u134 {
  position:absolute;
  left:2px;
  top:3px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
}
#u135 {
  position:absolute;
  left:252px;
  top:711px;
  width:147px;
  height:22px;
}
#u136 {
  position:absolute;
  left:2px;
  top:3px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
